@import url('https://fonts.googleapis.com/css2?family=Anaheim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300..700&family=Sacramento&display=swap');
html{
  height: 100%;
  width: 100%;
}
body{
  height: 100vh;
  width: 100vw;
}
.outter-container{
  display: flex;
  flex-wrap: wrap;
  background: rgba(240, 243, 234, 0.99);
  width: 100%;
  height: 2500px;
}
.titulo{
  width: 50%;
  height: 130px;
  margin-left: 289px;
  margin-top: 15px;
  border-radius: 25px;
  background: rgba(96, 7, 185, 0.60);
  mix-blend-mode: color-burn;
  backdrop-filter: blur(4px);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
h1{
  justify-self: center;
  color: black;
  font-family: Anaheim;
  font-size: 45px;
  font-style: normal;
  font-weight: 250;
  line-height: 50px;
  text-transform: capitalize;
  padding: 15px;
}
.background-image{
  background: url("https://raw.githubusercontent.com/mariabuitsan/guaqueras-y-campesinas/refs/heads/main/assets/img/background-1-fura-y-tena-blanco-negro.JPG");
  background-size: cover;
  background-blend-mode: luminosity;
  width: 100%;
  height: 2500px;
  z-index: 1;
  flex-wrap: nowrap;
}
ul{
  list-style-type: none;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: rgba(45, 115, 4, 0.6);
  background-blend-mode: hard-light;
  backdrop-filter: blur(2px);
  width: 25.8%;
  font-family: Akshar;
  z-index: 4;
}
li{
  float: left;
  align-items: center;
}
a{
  text-decoration: none;
  text-transform: none;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}
li a:hover{
  background-color: #830c9d;
}
p{
  display: flex;
  flex-direction: row;
  line-height: 22px;
  justify-items: center;
  color: black;
  font-family: Akshar;
  font-size: 18px;
  font-weight: 400;
  margin: 1%;
  padding: 2%;
}
.inside-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-items: center;
}
.inside-container-2{
  flex: 1;
  justify-content: center;
  align-items: center;
}
button{
  display: flex;
  flex-direction: column;
  color: white;
  padding: 10px 24px;
  gap: 5px;
  align-self: stretch;
  justify-content: center;
  background: rgba(45, 115, 4, 0.9);
  border: none;
  transition-duration: 0.5s;
  cursor: pointer;
  border-radius: 100px;
  font-size: medium;
  font-family: Akshar;
  margin-left: 50%;
  margin-bottom: 5%;
  margin-top: 8%;
}
button:hover{
  background-color: #830c9d;
  color: white;
}
.narracion-1{
  position: relative;
  display: grid;
  width: 75%;
  height: 490px;
  padding: 15px;
  margin-left: 0%;
  margin-top: 5%;
  border-radius: 5%;
}
.image-1-narracion{
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-self: center;
  background: url(/assets/img/agricultora-caña-objeto-1.png);
  background-size: cover;
  width: 100%;
  height: 335px;
  z-index: 2;
  padding: 0%;
  margin-top: 0%;
  margin-left: 2%;
}
.inside-container-3{
  display: flex;
  flex-direction: column;
  background: rgba(96, 7, 185, 0.50);
  width: 80%;
  height: 500px;
  border-radius: 5%;
  align-self: center;
  margin-left: 10%;
  margin-top: 15%;
}
h6{
  color:white;
  font-size: 12px;
  font-family: Akshar;
  font-weight: 50;
  align-self: center;
  justify-self: center;
  padding: 0%;
  margin: 0%;
}
.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(96, 7, 185, 0.40);
  mix-blend-mode: color-burn;
  border-radius: 8%;
}
i{
  margin-left: 3%;
}
h5{
  font-family: Akshar;
  color: black;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  padding-left: 8%;
  padding-right: 8%;
}
.grid-container-tools{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px; 
  padding: 2%;
  margin: 2%;
}
.grid-item {
  width: 200px;
  height: 200px;
  background-image: url(/assets/img/mineria-casco-1.JPG);
  background-size: cover;
}