@import url('https://fonts.googleapis.com/css2?family=Anaheim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300..700&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&display=swap');
html{
  height: 100%;
  width: 100%;
}
body{
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
.nav-2{
  display: flex;
  flex-direction: column;
  width: 15vw;
  min-height: auto;
  font-size: 1em;
  padding: 1%;
  background-color: #7bbc50c3;
  font-family: Akshar;
  font-weight: 25;
  font-size: 1em;
  align-items: flex-start;
  justify-content: first baseline;
  gap: 0.2em;
}
@media (max-width: 768px) {
  .nav-2{
    width: 90%; 
  }
}
a{
  text-decoration: none;
  text-transform: none;
  color: white;
}
a:hover{ 
  color: #830c9d;
  box-shadow: rgba(244, 240, 181, 0.535); 
} 
.container-outside-1{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
@media (max-width: 768px) {
  .container-outside-1{
    display: grid;
    width: 90%; 
  }
}
@media (max-width: 480px) {
  .container-outside-1{
    display: grid;
    grid-template-columns: 1fr; /* Stack items on very small screens */
  }
}
.contenido{
  width: 35%;
  height: 35vh;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
@media (max-width: 768px) {
  .contenido{
    display: grid;
    width: 90%; 
    height: fit-content;
  }
}
h1{
  width: 80vw;
  display:flex;
  font-family: "Playwrite US Modern", serif;
  font-size: 2.5vw;
  font-style: normal;
  font-weight: 250;
  line-height: 7vh;
  margin-top: 0.5%;
  padding: 5%;
  
}
.clickable-region {
  position: absolute;
  display: flex;
  top: 327px;
  left: 630px;
  width: 185px;
  height: 155px;
  background: rgba(240, 238, 238, 0);
  cursor: pointer;
  z-index: 6;
  border-radius: 100%;
}
.clickable-region:hover{
  box-shadow: 5px 20px 15px 50px rgba(244, 240, 181, 0.535) ;
}
@media (max-width: 768px) {
  .clickable-region{
    display: none;
  }
}
@media (max-width: 480px) {
  .clickable-region{
    display: none;
  }
}
.overlay{
  z-index: 3;
  position: absolute;
  width: 80%;
  height: 100vh;
  background-image: url('https://github.com/mariabuitsan/guaqueras-y-campesinas/blob/main/assets/img/background-ca%C3%B1a-1.JPG?raw=true');
  background-size: cover;
  opacity: 0.5;
}
.profile-image{
    z-index: 5;
    position:relative;
    width: 80vw;
    height: 100vh;
    margin-top: 0;
    margin-left: 0;
    background-image: url('https://github.com/mariabuitsan/guaqueras-y-campesinas/blob/main/assets/img/agricultora-ca%C3%B1a-objeto-1.png?raw=true');
    background-size: cover;
}
.background-territorio{
  display: grid;
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 2.5em;
}
h5{
  width: 75%;
  font-family: Akshar;
  color: black;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 200;
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 3%;
  margin: 0;
}
.audio-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px;
  width: 15%;
  margin-left: 5em;
}
.play-button {
  background-color: #bc50b7;
  border: none;
  color: white;
  padding: 15% 25%;
  text-align: center;
  font-family: Akshar;
  font-size: 1em;
  cursor: pointer;
}
.play-button:hover {
  background-color: #45a049;
}
@media (max-width: 768px) {
  .background-territorio {
    width: 100vw;  /* Reduce background width even further */
  }

  h1 {
    font-size: 5vw;  /* Smaller font size on mobile devices */
    padding: 2%;
    margin-top: 3%;  /* Adjust margin-top for smaller screens */
    line-height: 1.4em;
  }
  h5 {
    font-size: 1em;
    width: 80%;
  }
  .profile-image {
    margin-left: 0;  /* Further adjust margin */
    height: 80vh;
    width: 90vw;
    justify-self: center;
    align-self: center;
  }
  .audio-container {
    width: 30vw;  /* Smaller container for mobile screens */
    padding: 1em;  /* Adjust padding for phones */
    margin: 0;
  }

  .play-button {
    padding: 10% 20%;  /* Smaller button padding for phones */
    font-size: 0.8em;  /* Smaller font size for phones */
    width: 100%;  /* Make button full width for easier tapping on mobile */
  }
}
#inside-container-objetos{
    flex: 1;
    width: 100%;
    min-height: auto;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  @media (max-width: 768px) {
    .inside-container-objetos {
      flex-direction: column;
    }
}
.image-objeto-slider{
  width: 45em;
  height: 30em;
  position: relative;
  overflow: hidden;
  background-image: url(/assets/img/objeto-1-agricultura-caña-cusbira.JPG);
  background-size: cover;
  transition: transform 0.5s ease-in-out;
  margin: 0;
  cursor: pointer;
}
.low-vision-2{
  color: aliceblue;
  background:  rgba(45, 115, 4, 0.9);
  backdrop-filter: blur(2px);;
  mix-blend-mode: hard-light;
  height: fit-content;
  padding: 5%;
  width: 30%;
}
#hide-content{
  width: 15em;
  height: fit-content;
  border: none;
  margin-top: 0.15em;
  font-size: 4em;
  /* color: #830c9d; */
  color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  mix-blend-mode: screen;
  opacity: 100%;
}
#hide-content:hover{
  box-shadow: rgba(244, 240, 181, 0.535);
}
